.container{
    margin-bottom: 100px;
}
.carousel{
    background-color: #feeae9;
    border-radius: 15px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff136f 0%, #9d0d44 100%);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 20px;
    cursor: pointer;
}
.form-control{
    border-radius: 25px;
}
.btn-outline-secondary{
    border-radius: 15px;
}
.cat1, .cat2, .cat3{
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
}
.cat1{
    background-image: linear-gradient(to left, rgb(232, 248, 2) 0%, orange 100%);
}
.cat2{
    background-image: linear-gradient(to left, #df739c 0%, rgb(97, 10, 10) 100%);
}
.cat3{
    background-image: linear-gradient(to left, rgb(98, 98, 221) 0%, rgb(19, 19, 129) 100%);
}
.categories img{
    width: 100px;
}